:root {
    --bg--app: #7cbaf5;
    --bg--header: #ffffff;
    --bg--container: #fff;
    --bg--header--search: #ffffff;
    --bg--btn--hov: #d8d8d8;
    --bg--chemical--header: #ffffff;
    --bg--chemical--container: #ffffffb6;
    --bg--chemical--hov: #dfdfdf;
    --bg--option: #ffffff00;
    --col--option--hov: #006eff;
    --bg--option--hov: #f5f5f5;
}

* {
    padding: 0;
    margin: 0;
}

/* Computer */

body {
    display: flex;
    justify-content: space-around;
    background-color: var(--bg--app);
}

.header {
    width: calc(40% - 15px);
    height: calc(100vh - 20px);
    border-radius: 8px ;
    margin: 10px 5px 10px 10px;
    display: flex;
    flex-direction: column;

    background-color: var(--bg--header);
}

.header-search {
    width: calc(100% - 10px);
    height: 34px;

    padding: 5px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    background-color: var(--bg--header--search);
    box-shadow: 0 1px 2px rgb(177, 177, 177);
}

.header-search__btn {
    width: 25px;
    height: 25px;

    border-radius: 50%;
    margin: 0 0 0 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem
}

.header-search__btn--submit  {
    width: 34px;
    height: 34px;
    margin: 0 5px 0 0;
    font-size: 1.6rem;
    border-radius: 3px;
}

.header-search__btn:hover, 
.header-search__btn:active 
{
    background-color: var(--bg--btn--hov);
}

.header-search__input {
    width: calc(100% - 69px);
    height: 30px;
    border: none;
    background-color: #ffffff00;
    font-size: 1.3rem;
}

.header-search__input:focus {
    outline: none;
}


.header-result {
    margin-top: 5px;
    text-align: center;
}

/* .header-result__list {display: none; } */
/* ----------------------------------------------------------- */
.header .chemical {
    width: 100%;

    border-bottom: 2px solid #ccc;
    display: flex;
    background-color: var(--bg--chemical--header);

    font-size: 1.2rem;
}

.header .chemical:hover {
    background-color: var(--bg--chemical--hov);
}

.container .chemical {
    width: calc(100% - 10px);
    padding-left: 10px;
    /* Tong width + Padding left == width */
    border-radius: 8px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    background-color: var(--bg--chemical--container);

    box-shadow: 0 1px 2px #ccc;
}

/* .chemical:hover {background-color: var(--bg--chemical--hov);} */

.chemical .icon{
    width: 44px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.6rem;
}

.chemical .content{
    width: calc(100% - 44px);
}

.chemical__item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.chemical__item-heading {
    width: calc(100% - 36px);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chemical__item-heading--first {
    text-align: left;
}

.chemical__item-option {
    width: 36px;
    height: 36px;

    margin: 5px 5px 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    background-color: var(--bg--option);
    cursor: pointer;

    transition: color .3s, background .25s;
}

.chemical__item-option:hover {
    color: var(--col--option--hov);
    background-color: var(--bg--option--hov);
}

.chemical--primary-heading--first {
    width: 70%;
}
.chemical--primary-heading--last {
    width: 30%;
}

.chemical--secondary-heading--first{
    width: 55%;
}
.chemical--secondary-heading--last {
    width: 45%;
}

.chemical--secondary {
    display: none;
}

/* ----------------------------------------------------------- */

.container {
    width: calc(60% - 25px);
    height: calc(100vh - 30px);
    padding: 5px;
    border-radius: 8px;
    margin: 10px 10px 10px 5px;

    background-color: var(--bg--container);
}

.container-selector {
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    text-transform: uppercase;
}

.container-selector--main {
    min-width: 240px;
    display: flex;
    align-items: center;
}

.container-selector--main-heading {
    min-width: 200px;
    font-size: 1.3rem;
}

.container-selector--main__btn {
    width: 40px;
    height: 40px;
    font-size: 2rem;
    margin: 0 15px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    background-color: #0b60ff;
    cursor: pointer;
}

.container-selector__item {
    opacity: .7;
}
